Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/WastelandRocks/
Content/GT_SELECT18/
Build/
Packaged/
Content/textures/generic/grass1-albedo3.uasset
Content/textures/generic/grass1-ao.uasset
Content/textures/generic/grass1-height.uasset
Content/textures/generic/grass1-normal1-dx.uasset
Content/textures/generic/grass1-rough.uasset
